@font-face {
  font-family: "Source Sans";
  src: url("../fonts/source-sans-pro-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/source-sans-pro-v13-latin-regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Source Sans", "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,
input {
  margin: 0;
  padding: 0;
}

.landing__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.landing__item {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing__item--auth {
  display: flex;
  flex-direction: column;
  background-color: #181818;
}

.landing__input {
  width: 70%;
  border: 1px solid #181818;
  border-radius: 5px;
  padding: 2px 5px;
}

::-webkit-input-placeholder {
  font-style: italic;
  opacity: 0.5;
}

.landing__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__text--auth {
  color: #ffffff;
}

.landing__text--manual {
  color: #181818;
}

.landing__img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.landing__img:hover {
  opacity: 0.8;
}

.landing__img:active {
  outline: 0;
  opacity: 0.9;
}

.landing__button {
  margin: 16px 0;
  padding: 8px 16px;
  border: 1px solid #181818;
  border-radius: 5px;
  background-color: #ffffff;
  color: #181818;
}

.landing__button:focus,
.landing__input:focus {
  outline: 0;
}

.loader {
  height: 100vh;
}

.loader__container {
  height: 100vh;
  width: 600px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader__text {
  color: #181818;
}

.loader__svg {
  min-width: 600px;
  min-height: 200px;
}

.loader__pulsar {
  stroke-dasharray: 281;
  animation: dash 2.5s infinite linear forwards;
}

/*Animation*/
@keyframes dash {
  from {
    stroke-dashoffset: 814;
  }
  to {
    stroke-dashoffset: -814;
  }
}

@media (min-width: 320px) {
  .landing__container {
    flex-direction: row;
  }
  .landing__item {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
