@import "./blocks/landing.scss";
@import "./blocks/loader.scss";
@import "./blocks/audioplayer.scss";
@font-face {
  font-family: "Source Sans";
  src: url("../fonts/source-sans-pro-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/source-sans-pro-v13-latin-regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Source Sans", "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,
input {
  margin: 0;
  padding: 0;
}
