.audioplayer {
  color: #181818;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0 20px;
}

.audioplayer p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.audioplayer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.audioplayer__list {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.audioplayer__item {
  cursor: pointer;
  display: flex;
  padding: 14px 15px;
  list-style: none;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  height: calc(70vh / 10);
  box-sizing: border-box;
}

.audioplayer__item:hover {
  background-color: #eeeeee;
}

.audioplayer__item:active {
  background-color: #f2f2f2;
  color: #303030;
}

.audioplayer__item--active {
  cursor: pointer;
  display: flex;
  padding: 14px 15px;
  list-style: none;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  height: calc(70vh / 10);
  box-sizing: border-box;
  opacity: 0.5;
}

.audioplayer__name {
  margin-left: auto !important;
}

.audioplayer__audio-container {
  width: 100%;
}

.audioplayer__image {
  width: 100%;
}

.audioplayer__audio-kit {
  display: block;
  height: 10vh;
  background-color: #ffffff;
}

.audioplayer__title {
  height: 10vh;
  margin-top: 10px;
}

.audioplayer__title--name {
  font-size: 18px;
}

.audioplayer__title--artist {
  font-size: 14px;
}

audio::-webkit-media-controls-enclosure {
  background: transparent;
}

.audioplayer__tracknumber {
  padding-right: 10px;
}

.audioplayer__svg {
  padding-right: 10px;
}

@media (min-width: 480px) {
  .audioplayer {
    padding: 0 100px;
  }

  .audioplayer-container {
    flex-direction: row;
    height: 80vh;
  }

  .audioplayer__list {
    width: 40%;
  }

  .audioplayer__image {
    height: 70vh;
    width: 70vh;
  }

  .audioplayer__audio-kit {
    width: 93%;
    margin: 10px auto;
    height: 10vh;
    outline: none;
  }

  .audioplayer__title--name {
    font-size: 1.5vw;
  }

  .audioplayer__title--artist {
    font-size: 1vw;
  }

  .audioplayer__item,
  .audioplayer__item--active {
    font-size: 1vw;
  }
}
