.audioplayer {
  color: #181818;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0 20px;
}

.audioplayer p {
  margin: 0;
  padding: 0;
}

.audioplayer-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.audioplayer__list {
  margin: 0;
  padding: 0;
  border: 1px solid #181818;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.audioplayer__item {
  cursor: pointer;
  padding: 5px 10px;
  list-style: none;
  border: 1px solid #181818;
  font-size: 12px;
}

.audioplayer__item:hover {
  background-color: #eeeeee;
}

.audioplayer__item:active {
  background-color: #f2f2f2;
  color: #303030;
}

.audioplayer__item--active {
  cursor: pointer;
  padding: 5px 10px;
  list-style: none;
  border: 1px solid #181818;
  font-size: 12px;
  opacity: 0.5;
}

.audioplayer__audio-container {
  width: 100%;
}

.audioplayer__image {
  width: 100%;
}

.audioplayer__audio-kit {
  display: block;
  height: 10vh;
  background-color: #ffffff;
}

.audioplayer__title {
  height: 10vh;
  margin-top: 10px;
}

.audioplayer__title--name {
  font-size: 18px;
}

.audioplayer__title--artist {
  font-size: 14px;
}

@media (min-width: 360px) {
  .audioplayer {
    padding: 0 100px;
  }

  .audioplayer-container {
    flex-direction: row;
    height: 80vh;
  }

  .audioplayer__list {
    width: auto;
  }

  .audioplayer__image {
    height: 70vh;
    width: auto;
  }

  .audioplayer__audio-kit {
    width: 80%;
    margin: 10px auto;
    height: 10vh;
  }
}
/*
@media (min-width: 1280px) {
  .audioplayer p {
    font-size: 2vh;
  }
}
*/
