.loader {
  height: 100vh;
}

.loader__container {
  height: 100vh;
  width: 600px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader__text {
  color: #181818;
}

.loader__svg {
  min-width: 600px;
  min-height: 200px;
}

.loader__pulsar {
  stroke-dasharray: 281;
  animation: dash 2.5s infinite linear forwards;
}

/*Animation*/
@keyframes dash {
  from {
    stroke-dashoffset: 814;
  }
  to {
    stroke-dashoffset: -814;
  }
}
